@import './iconfont';

/**** FONTS ****/
/* FiraGO */
@font-face {
  font-family: FiraGO;
  font-weight: 400;
  src: url('pyrene-theme/fonts/FiraGO-Regular.woff2') format('woff2'), url('pyrene-theme/fonts/FiraGO-Regular.woff') format('woff');
}

@font-face {
  font-family: FiraGO;
  font-weight: 500;
  src: url('pyrene-theme/fonts/FiraGO-Medium.woff2') format('woff2'), url('pyrene-theme/fonts/FiraGO-Medium.woff') format('woff');
}

@font-face {
  font-family: FiraGO;
  font-weight: 600;
  src: url('pyrene-theme/fonts/FiraGO-SemiBold.woff2') format(s'woff2'), url('pyrene-theme/fonts/FiraGO-SemiBold.woff') format('woff');
}

@font-face {
  font-family: FiraGO;
  font-weight: 700;
  src: url('pyrene-theme/fonts/FiraGO-Bold.woff2') format('woff2'), url('pyrene-theme/fonts/FiraGO-Bold.woff') format('woff');
}

@font-face {
  font-family: FiraSans, sans-serif;
  font-stretch: condensed;
  src: url('pyrene-theme/fonts/FiraCondensed-Regular.woff2') format('woff2'), url('pyrene-theme/fonts/FiraCondensed-Regular.woff') format('woff');
}

/* PyreneIconFont */
@font-face {
  font-family: PyreneIconFont;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;

  src: url('pyrene-theme/fonts/pyrene-iconfont.woff') format('woff');
}

[class^="pyreneIcon-"], [class*=" pyreneIcon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: PyreneIconFont !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
